main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #;
}
body {
    background-color: #EBEFF4;
}
nav {
    color: #1E488F;
    background-color: #cbdefb;
}

a {
    color: #172B4D ;
}

.navbar-toggler-icon.iccc {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(30, 72, 143)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
    
}

.card-footer .btn {
    background-color: #1E488F;

}

.card-body {
    background-color: #EBEFF4;
}

.card-footer {
    background-color: #cbdefb;
}

.card-title {

color: #1E488F;
font-weight: 700;
}

.aboutme {
    font-style: italic;
}